.color-form {
  display: flex;
  justify-content: space-around;
  margin: 0.25em;
  width: 100%;
}

.color-form button {
  margin: 0.25em;
}

.color-form input {
  margin: 0.25em;
}

.color-form input:first-child {
  flex: 1;
}
